<div class="row">
  <div class="col-12 col-sm-12 col-md-3 col-xl-3">
    <div class="list-group">
      <a
        class="list-group-item"
        *ngFor="let category of subcategories"
        [routerLink]="['/category', category.categoryId]">{{category.title}}</a>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-8 col-xl-8" *ngIf="products.length > 0">
    <div class="list-group" *ngFor="let product of products">
      <app-product
        [product]="product"></app-product>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-8 col-xl-8" *ngIf="products.length === 0">
    <p>No products in this category</p>
  </div>
</div>
